<section class="section-pad">

  <div class="page-title">
    <h1>TERMENI SI CONDITII</h1>

  </div>

  <div class="mt-2 text-muted">

    <b>1. DISPOZIȚII GENERALE</b><br>
    1.1 ”www.fluiddevelopment.ro” este site-ul oficial al FLUID DEVELOPMENT S.R.L., cu sediul in Constanța, Bdul. Tomis, nr. 143A Et. P, Cod Unic de Inregistrare: 16310296, denumită in cele ce urmează “Fluid Development”.<br>
    1.2 Site-ul are ca scop asigurarea, in mod gratuit, a tuturor celor interesați de informațiile și anunțurie de către
    “FLUID DEVELOPMENT S.R.L.”. Site-ul este operat și administrat de către “Fluid Development”.<br>
    1.3 La momentul la care vor exista campanii promovate de "Fluid Development", persoanele interesate vor fi rugate să
    consulte regulamentele aferente acestora, din secțiunea dedicată.<br>
    1.4 Accesul la prezentul site precum și folosirea acestuia sunt permise numai în concordanță cu termenii și
    condițiile de mai jos, precum și cu prevederile legale aplicabile.<br>
    1.5 În cazul în care nu sunteți de acord cu condițiile de utilizare a site-ului, care implică inclusiv prelucrarea
    datelor cu caracter personal de către “Fluid Development”, vă rugăm să nu utilizati acest site.
    <br>
    <br>
    <b>2. DEFINIȚII</b><br>
    2.1 CAMPANIE – acțiunea de a expune în scop comercial, un număr finit de informații și anunțuri având o valabilitate
    pentru o perioadă limitată, stabilită de către “Fluid Development”.<br>
    2.2 CLIENT – orice persoană fizică care a împlinit vârsta de 18 ani care accesează site-ul “Fluid Development”, care
    si-a exprimat acordul cu privire la prezentul document.<br>
    2.3 SITE – domeniul principal ”www.fluiddevelopment, domeniu alias ”www.fluiddevelopment.ro”.<br>
    2.4 “Fluid Development” – FLUID DEVELOPMENT S.R.L., cu sediul in Constanța, Bdul. Tomis, nr. 143A Et. P, Cod Unic
    de Inregistrare: 16310296.
    <br>
    <br>
    <b>3. CONȚINUT</b><br>
    3.1 Site-ul este specializat în publicarea online a informațiitor și anunțurilor.<br>
    3.2 Utilizatorilor acestui site le este in mod expres interzis să folosească atât site-ul cât și serviciile puse la
    dispoziție prin intermediul acestuia, în scopul incărcării, descărcării, publicării sau transmiterii oricăror
    informații al căror conținut este ilegal sau contrar bunelor moravuri și ordinii publice (de exemplu: este
    defăimator, ofensator, amenințător, abuziv, vulgar, obscen, afectează dreptul la intimitate al altor persoane,
    indeamnă la violență sau la ura rasială, etnică ori are un caracter intimidant).<br>
    3.4 “Fluid Development” își rezervă dreptul de a modifica conținutul, structura și modul de accesare a site-ului în
    funcție de schimbările ce au loc cu privire la anunțurile și ofertele postate pe site și de propriile proceduri
    interne. Continuarea folosirii site-ului prin căutarea de anunțuri echivalează cu acceptul clientului. In cazul
    modificării prezentului document, “Fluid Development” nu va informa Clientul cu privire la acest lucru.<br>
    3.5 Site-ul “Fluid Development” nu își asumă responsabilitatea în cazul în care informațiile sau anunțurile
    publicate nu mai sunt valabile sau disponibile pentru categoria pe care Clientul a ales-o.​
    <br>
    <br>
    <b>4. FRAUDĂ</b><br>
    4.1 “Fluid Development” nu solicită clientilor săi prin niciun mijloc de comunicare (e-mail/telefonic/SMS/ etc.)
    informații referitoare la date confidențiale de tip conturi/carduri bancare sau parole personale.<br>
    4.2 Clientul își asumă întreaga responsabilitate pentru divulgarea unui terț a datelor sale confidențiale. “Fluid
    Development” își declină orice responsabilitate, în situația în care un Client ar fi / este prejudiciat sub orice
    formă de către un terț care ar pretinde că este / reprezintă interesele “Fluid Development”. Clientul va informa
    “Fluid Development” asupra unor asemenea tentative, folosind datele de contact indicate mai sus.
    <br>
    <br>
    <b>5. FORȚĂ MAJORĂ</b><br>
    5.1 Niciuna din părți nu va fi răspunzatoare pentru neexecutarea sau executarea necorespunzătoare a obligațiilor
    sale contractuale, dacă o astfel de neexecutare la termen și / sau în mod corespunzător, total sau parțial este
    datorată unui eveniment de forță majoră. Forța majoră este evenimentul imprevizibil, în afara controlului părților
    și care nu poate fi evitat.
    <br>
    <br>
    <b>6. RĂSPUNDERE</b><br>
    6.1 “Fluid Development” nu poate fi ținută responsabilă în niciun fel în fața niciunui client care utilizează
    site-ul sau conținutul, altfel decât în limita articolelor ce constituie ”Termeni și Condiții”.
    <br>
    <br>
    <b>7. LEGEA APLICABILĂ – JURISDICȚIA</b><br>
    7.1 Prezentul contract este supus legii române. Eventualele litigii apărute între “Fluid Development” și clienti se
    vor rezolva pe cale amiabilă sau, în cazul în care acest lucru nu va fi posibil, litigiile vor fi solutionațe de
    instanțele judecătorești competente de la sediul “Fluid Development”.<br>
    7.2 Dacă oricare dintre clauzele de mai sus va fi gasită nula sau nevalidă, indiferent de cauză, aceasta clauză nu
    va afecta valabilitatea celorlalte clauze.
    <br>
    <br>
    <b>8. DREPTURILE DE PROPRIETATE INTELECTUALĂ ȘI INDUSTRIALĂ</b><br>
    8.1 Conținutul site-ului incluzând, dar nelimitându-se la logo-uri, reprezentări stilizate, imagini statice, imagini
    dinamice, text și / sau conținut multimedia, sunt proprietatea exclusivă a “Fluid Development”, acesteia fiindu-i
    rezervate toate drepturile obținute în acest sens în mod direct sau indirect (prin licențe de utilizare și/sau
    publicare). Aceste elemente sunt protejate de legislația relevantă referitoare la respectarea drepturilor de autor
    și drepturilor conexe, a mărcilor, a desenelor și a modelelor precum a brevetelor și modelelor de utilitate.<br>
    8.2 Orice reproducere sau reprezentare chiar si parțială prin orice mijloace, realizată fără acordul scris,
    prealabil si expres al “Fluid Development” este interzisă și ilicită. Nerespectarea acestei interdicții constituie o
    contrafacere sau un act de concurență neloială care angajează responsabilitatea civilă și penală a autorului
    său.<br>
    8.3 Punerea în aplicare a hyperlink-urilor de către orice pagină a acestui site necesită acordul scris, prealabil și
    expres al “Fluid Development”. Utilizarea oricăror informații de pe Site în alte scopuri decât cel consultativ, în
    special în scopuri publice, comerciale sau umoristice, poate face obiectul unor acțiuni în justiție.
    <br>
    <br>
    ​<b>9. DISPOZIȚII FINALE</b><br>
    9.1 Depunem toate eforturile pentru a ne asigura că protejam și respectăm confidențialitatea datelor cu caracter
    personal prin implementarea măsurilor tehnice și organizatorice adecvate, în conformitate cu cerințele
    Regulamentului nr. 679/2016 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter
    personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general
    privind protecția datelor), ale Legii nr. 190/2018 privind punerea în aplicare a Regulamentul General privind
    Protecția Datelor și a bunelor practici în materie de prelucrare a datelor.<br>
    9.2 Pentru mai multe detalii privind prelucrarea datelor cu caracter personal pe care vânzătorul, în calitate de
    operator, le colectează cu privire la persoana vizată, atunci când interactionează cu site-ul “Fluid Development”,
    invităm persoana vizată să acceseze Politica de Confidențialitate.<br>
    9.3 Având în vedere dispozițiile Regulamentului (UE) nr. 524/2013 privind soluționarea online a litigiilor în
    materie de consum și de modificare a Regulamentului (CE) nr. 2006/2004 și a Directivei 2009/22/CE, “Fluid
    Development” oferă clientului posibilitatea de a opta pentru soluționarea pe cale extrajudiciară a eventualelor
    litigii, prin utilizarea platformei europene de soluționare online a litigiilor (platforma SOL), instrument digital
    creat de Comisia Europeană pentru a facilita soluționarea independentă, impartială, transparentă, eficace, rapidă și
    echitabilă, pe cale extrajudiciară, a litigiilor care privesc obligațiile contractuale rezultate din contractele de
    prestare de servicii online dintre un consumator care își are reședinta în Uniune și un comerciant stabilit in
    Uniune.
  </div>
</section>