.menu-item {
    color: #565a5c;
    font-weight: bold;
    text-decoration: none;

}

/* color: #565a5c
color: #000000 */

.menu-item:hover {
    color: #000000;
}

.project-link {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    cursor: pointer;
    padding: 0 4px;
    vertical-align: middle;
    color: #565a5c;

}

.dropdown-trigger:hover {
    color: #000000;

}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 70%;
    min-width: 150px;
    padding: 10px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    line-height: 1.75;
    font-weight: bold;
}

.dropdown-trigger:hover+.dropdown-menu,
.dropdown-menu:hover {
    color: #565a5c;
    display: block;
}

.dropdown-menu li {
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu li:hover {
    background-color: #d2e9ee;
    color: #000000; 
    border-radius: 3px;
}