<section>
  <div style="position: relative; width: 100%;">
    <!-- <div class="card" style="z-index: 2">
      <p-menubar [model]="items" styleClass="my-menubar"></p-menubar>
    </div> -->
    <div class="box" style="z-index: 2; display: flex; align-items: center; ">
      <div>
        <img src="assets/img/beyonce.png" style="width: 100px; height: 50px;">
      </div>
      <div style="margin-left: auto; display: flex; gap: 20px; margin-right: 20px;">
        <a routerLink="/" class="menu-item">
          <h3>ACASǍ</h3>
        </a>
        <a routerLink="/about" class="menu-item">
          <h3>DESPRE</h3>
        </a>
        <a style="margin: 18px 0;" class="dropdown">
          <a routerLink="/projects" class="menu-item">
            <h3 style="display:inline;">PROIECTE</h3>
          </a>
          <span class="dropdown-trigger material-symbols">arrow_drop_down</span>
          <ul class="dropdown-menu" role="menu">
            <li routerLink="/projects" [queryParams]="{ status: 'in-progress' }" class="project-link">In progress</li>
            <li routerLink="/projects" [queryParams]="{ status: 'done' }" class="project-link">Incheiate</li>
          </ul>

        </a>
        <a routerLink="/contact" class="menu-item">
          <h3>CONTACT</h3>
        </a>
        <!-- routerLink="/account/my-tag" [queryParams]="{ id: item.id }" -->
      </div>
    </div>
    <div style="z-index: 1;">
      <img src="assets/img/fluid-hero.png" alt="hero-image" style="width: 100%; object-fit: cover; top: 0; right: 0;">
    </div>
  </div>
</section>

<section style="padding: 20px;">
  <h1>Despre noi</h1>


  <div class="carousel-parent">
    <div class="carousel-item">
      <span class="material-symbols foundation background-icon">foundation</span>
      <div>
        <h2>Fondat in anul</h2>
      </div>
      <div>
        <h1><span style="display: inline-block;" [countUp]="2000" [options]="countOpts">0</span></h1>
      </div>
    </div>

    <div class="carousel-item">
      <span class="material-symbols foundation background-icon">map_search</span>

      <div>
        <h2>Orase in care am dezvoltat proiecte in</h2>
      </div>
      <div>
        <h1><span [countUp]="9" [options]="countOpts">0</span></h1>
      </div>
    </div>


    <div class="carousel-item">
      <span class="material-symbols foundation background-icon">construction</span>

      <div>
        <h2>Proiecte incheiate</h2>
      </div>
      <div>
        <h1><span [countUp]="70" [options]="countOpts">0</span></h1>
      </div>
    </div>

    <div class="carousel-item">
      <span class="material-symbols foundation background-icon">engineering</span>

      <div>
        <h2>Proiecte in derulare</h2>
      </div>
      <div>
        <h1><span [countUp]="4" [options]="countOpts">0</span></h1>
      </div>
    </div>

  </div>

  <div style="margin-top: 10px;">
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.
    In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. 
    <br><br>
    Pulvinar vivamus fringilla
    lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
    class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </div>
  <div style="margin-top: 10px;">
    <a routerLink="/about" style="color: #565a5c; text-decoration: none;">Vezi mai mult <span class="material-symbols">arrow_forward</span></a>

  </div>



</section>

<section style="background-color: #bdf1fc; height: 200px;">
  <h1>Proiectele noastre</h1>
  <div></div>
</section>

<section>
  <h1>Contacteaza-ne</h1>
</section>

<section style="height: 500px; background-color: black;"></section>