<main class="snap-y">

  <section class="section-pad hero-full">
    <div class="hero" style="position: relative; width: 100%;">
      <div style="position: absolute; inset: 0;">
        <img src="assets/img/fluid-hero.png" alt="hero-image" class="hero-image">
      </div>
    </div>
  </section>

  <section class="section-pad about-full">
    <header style="display: flex; align-items: center;">
      <h1>Despre noi</h1>

      <div style="margin-left: auto;">
        <a routerLink="/about" class="link-muted">Vezi mai mult <span class="material-symbols">arrow_forward</span></a>
      </div>
    </header>



    <main class="carousel-parent">
      <div class="carousel-item">
        <div class="material-symbols icon">home</div>
        <div style="height: 30%;">
          <h2>FONDAT IN</h2>
          <h2 style="text-align: center;"><span style="display: inline-block;" [countUp]="2000"
              [options]="countOpts">0</span></h2>

        </div>
      </div>

      <div class="carousel-item">
        <div class="material-symbols icon">map</div>
        <div style="height: 30%;">
          <h2>PREZENTI IN</h2>
          <h2 style="text-align: center;"><span [countUp]="9" [options]="countOpts">0</span> ORASE</h2>

        </div>
      </div>

      <div class="carousel-item">
        <div class="material-symbols icon">water_pump</div>
        <div style="height: 30%;">
          <h2>PROIECTE INCHEIATE</h2>
          <h2 style="text-align: center;"><span [countUp]="70" [options]="countOpts">0</span></h2>

        </div>
      </div>

      <div class="carousel-item">
        <div class="material-symbols icon">engineering</div>
        <div style="height: 30%;">
          <h2>PROIECTE IN DERULARE</h2>
          <h2 style="text-align: center;"><span [countUp]="4" [options]="countOpts">0</span></h2>

        </div>
      </div>

      <div class="carousel-item">
        <div class="material-symbols icon">diversity_3</div>
        <div style="height: 30%;">
          <h2>ECHIPA DE</h2>
          <h2 style="text-align: center;"><span [countUp]="55" [options]="countOpts">0</span> angajati</h2>

        </div>
      </div>

      <div class="carousel-item">
        <div class="material-symbols icon">domain</div>
        <div style="height: 30%;">
          <h2>SUPRAFATA LUCRATA</h2>
          <h2 style="text-align: center;"><span [countUp]="120" [options]="countOpts">0</span> mp</h2>

        </div>
      </div>


    </main>

    <footer class="mt-2 text-muted">
      Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat
      in
      id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor pulvinar vivamus fringilla
      lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia integer nunc posuere ut hendrerit semper vel
      class aptent taciti sociosqu ad litora torquent per conubia nostra
      <br><br>
      inceptos himenaeos orci varius natoque penatibus et magnis dis parturient montes nascetur ridiculus mus donec
      rhoncus eros lobortis nulla molestie mattis scelerisque maximus eget fermentum odio phasellus non purus est
      efficitur laoreet mauris pharetra vestibulum fusce dictum risus blandit quis suspendisse aliquet nisi sodales
      consequat magna ante condimentum neque at luctus nibh finibus
      <br><br>
      facilisis dapibus etiam interdum tortor ligula congue sollicitudin erat viverra ac tincidunt nam porta elementum a
      enim euismod quam justo lectus commodo augue arcu dignissim velit aliquam imperdiet mollis nullam volutpat
      porttitor
      ullamcorper rutrum gravida cras eleifend turpis fames primis vulputate ornare sagittis vehicula praesent dui felis
      venenatis ultrices proin libero feugiat tristique accumsan maecenas potenti ultricies habitant morbi senectus
      netus
      suscipit auctor curabitur facilisi cubilia curae hac habitasse platea dictumst lorem ipsum dolor sit amet
      consectetur adipiscing elit
    </footer>


  </section>

  <section class="section-pad projects-full">
    <div style="display: flex; align-items: center;">
      <h1>Proiectele noastre</h1>
      <div style="margin-left: auto;">
        <a routerLink="/projects" class="link-muted">Vezi mai mult <span
            class="material-symbols">arrow_forward</span></a>
      </div>
    </div>

    <div style="display: flex; flex-wrap: wrap;">
      @for (project of projects; track project.id) {
        @if(project.featured){
          <div class="project-home">
            <!-- <img [src]="project.images.startsWith('http') || project.images.startsWith('/') ? project.images : '/assets/projects/' + project.images"> -->

            <img [src]="project.images">
            <div class="project-home-details">
              <div class="project-home-title">{{project.name}}</div>
              <div class="project-home-subtitle">{{project.location}}</div>
            </div>
          </div>
        }

      }




    </div>

    <!-- <div style="display: flex; flex-wrap: wrap;">

      <div class="project-home">
        <img src="assets/img/construction-site-1.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 1 nume lung super lung</div>
          <div class="project-home-subtitle">Constanta</div>
        </div>
      </div>

      <div class="project-home">
        <img src="assets/img/construction-site-2.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 2</div>
          <div class="project-home-subtitle">Tulcea</div>
        </div>
      </div>

      <div class="project-home">
        <img src="assets/img/construction-site-3.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 3</div>
          <div class="project-home-subtitle">Brasov</div>
        </div>
      </div>

      <div class="project-home">
        <img src="assets/img/construction-site-4.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 4</div>
          <div class="project-home-subtitle">Constanta</div>
        </div>
      </div>

      <div class="project-home">
        <img src="assets/img/construction-site-5.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 5</div>
          <div class="project-home-subtitle">Constanta</div>
        </div>
      </div>

      <div class="project-home">
        <img src="assets/img/construction-site-6.jpg">
        <div class="project-home-details">
          <div class="project-home-title">Titlu proiect 6</div>
          <div class="project-home-subtitle">Braila</div>
        </div>
      </div>

    </div> -->
  </section>

  <section class="section-pad partners-full">
    <div style="flex: 0 0 auto;
  margin-bottom: var(--space-4);">
      <h1>Parteneri</h1>
    </div>
    <div class="partners-grid">
      <div class="partner-info">
        <img src="assets/img/beyonce.png" style="width: 100px; height: 50px; object-fit: contain;">
        <h2>Fluid Serv Metrologie</h2>
      </div>

      <div class="partner-info">
        <img src="assets/img/beyonce.png" style="width: 100px; height: 50px;">
        <h2>General Hidroedil</h2>
      </div>

      <div class="partner-info">
        <img src="assets/img/beyonce.png" style="width: 100px; height: 50px;">
        <h2>Strolz Drilling</h2>
      </div>
    </div>
  </section>

  <section class="section-pad contact-full">
    <div style="display: flex; align-items: center; justify-content: center;">
      <h1>Contact</h1>
      <div style="margin-left: auto;">
        <a routerLink="/contact" class="link-muted">Vezi mai mult <span
            class="material-symbols">arrow_forward</span></a>
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%;">
      <h1>Contacteaza-ne</h1>
      <h2>Ai intrebari sau remarci? Scrie-ne un mesaj!</h2>

      <div style="display: flex; gap: 10px; margin: 10px 0;">
        <div>
          <label>Email</label>
          <br>
          <input type="text" id="email" name="email" required minlength="4" />
        </div>
        <div>
          <label>Nume</label><br>
          <input type="text" id="name" name="name" required minlength="4" maxlength="20" />
        </div>
      </div>

      <div style="margin: 10px 0;">
        <label>Mesaj</label><br>
        <textarea style="height: 200px;"></textarea>
      </div>

      <div style="margin: 10px 0;">
        <button style="font-weight: bold;">Trimite</button>
      </div>

    </div>



  </section>


</main>