<section class="section-pad">

  <a routerLink="/projects" class="back-link">
    <span class="material-symbols" style="padding-right:10px">chevron_backward</span>
    <span>Proiecte</span>
  </a>

  
  <div style="margin-top: 115px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1>{{project.name}}</h1>
    <h3>{{project.location}}</h3>
  </div>


</section>

<section>
  <div style="width: 100%; height: 50vh;">
    <img [src]="project.images" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
</section>

<section class="section-pad">
  <h3>{{project.status}}</h3>
  <div>
    {{project.description}}
  </div>
  <div>
    @if(project.status == 'Încheiat'){
      <span>Perioada: <b>{{project.start_date}} - {{project.end_date}}</b></span>
    }
    @else {
      <span>Început la <b>{{project.start_date}}</b></span>

    }
  </div>
</section>