<section class="section-pad">

  <div style="margin-top: 115px; display: flex; align-items: center; justify-content: center;">
    <h1>Politica de Confidențialitate</h1>

  </div>

  <div class="mt-2 text-muted">
    <b>Confidențialitatea dvs. este foarte importantă pentru noi. Prin urmare, ne străduim să vă procesăm datele
      personale
      în conformitate cu principiile stabilite în legislația privind protecția datelor aplicabilă în România, inclusiv
      Regulamentul (UE) 2016/679 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu
      caracter
      personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46 / CE („GDPR”).</b><br>

    Datele personale reprezintă orice informație referitoare la o persoană fizică identificată sau identificabilă, iar o
    persoană identificabilă este acea persoană care poate fi identificată direct sau indirect, în special prin referire
    la un număr de identificare sau la unul sau mai mulți factori specifici fizici, psihologici, mentali , identitate
    economică, culturală sau socială.<br>
    Această politică de confidențialitate se referă la datele personale ale vizitatorilor Site-ului, altor persoane care
    ne contactează și care ne vizitează și ale reprezentanților acestora, potențiali colaboratori și colaboratori și se
    aplică datelor colectate prin intermediul Site-ului, precum și tuturor celorlalte date cu caracter personal pe care
    le colectăm prin e-mail, formularul de contact, concursuri, prin utilizarea Site-ului sau a altor contacte offline.
    Această politică de confidențialitate descrie:
    <br><b>
      • Ce tipuri de date cu caracter personal colectăm și procesăm;<br>
      • Scopurile pentru care colectăm și folosim datele dvs. personale;<br>
      • Motivele de prelucrare pentru astfel de scopuri;<br>
      • Durata procesării acestor date;<br>
      • Drepturile dumneavoastră în calitate de persoane vizate și modul în care le puteți exercita;<br>
      • Cui îi putem dezvălui datele personale;
    </b>

    <br>
    <br>
    <b>A. CATEGORII DE DATE CU CARACTER PERSONAL - SCOPURI ȘI MOTIVE PENTRU PRELUCRARE</b><br>
    În contextul interacțiunii dvs. cu www.fluiddevelopment, dvs., ca persoană fizică, puteți face obiectul activităților de
    prelucrare a datelor pe care le efectuăm. Vă informăm că folosim datele dvs. personale în următoarele cazuri:
    Folosim datele cu caracter personal pe care le colectăm de la dvs. când vizitați Site-ul, pentru a procesa și a
    răspunde întrebărilor dvs. transmise prin intermediul site-ului nostru, precum și pentru a trimite știrile la care
    v-ați abonat în timp ce vizitați site-ul nostru.<br>
    Ne bazăm această activitate de prelucrare a datelor pe interesul nostru legitim de a furniza informațiile solicitate
    în legătură cu activitatea și produsele noastre. Categoriile de date prelucrate în acest context sunt numele dvs. și
    adresa de e-mail.<br>
    De asemenea, folosim datele dvs. personale pentru a monitoriza traficul și a îmbunătăți conținutul site-ului.
    Ne bazăm în această activitate de prelucrare a datelor pe interesului nostru legitim de a asigura funcționarea
    corectă a site-ului nostru de internet, precum și îmbunătățirea acestuia.<br>
    Categoriile de date prelucrate în acest context sunt ora și data accesării site-ului Internet și adresa IP din care
    a fost accesat site-ul nostru de internet.<br>
    Utilizăm tehnologia cookie pe site-ul nostru, ceea ce ne permite să ușurăm experiența dvs. de navigare, în scopuri
    statistice și pentru îmbunătățirea site-ului nostru web.<br>
    Aceste informații ne permit să înțelegem mai bine utilizatorii site-ului și modul în care îl utilizează.<br>
    Categoriile de date prelucrate în acest context sunt ora și data accesării site-ului Internet și adresa IP din care
    a fost accesat site-ul nostru de internet.​​
    <br>
    <br>
    <b>B. PUNEREA LA DISPOZIȚIE A DATELOR CU CARACTER PERSONAL</b><br>
    Atunci când datele sunt solicitate direct de la dvs., "Fluid Development" vă solicită să furnizați toate categoriile de
    date cu caracter personal de care avem nevoie în scopurile menționate anterior, deoarece altfel nu vom putea să ne
    desfășurăm activitatea.<br>
    Dacă furnizați "Fluid Development" datele cu caracter personal ale altor persoane fizice, vă rugăm să le comunicați
    înainte de această dezvăluire modalitatea în care "Fluid Development" intenționează să proceseze datele personale, așa
    cum este descris în această Politică de Confidențialitate.
    <br>
    <br>
    <b>C. DEZVĂLUIREA DATELOR CU CARACTER PERSONAL</b><br>
    Deși, de regulă, nu vom dezvălui datele dvs. personale unor terțe părți, putem:<br>
    – dacă este necesar, transfera datele dvs., prin divulgarea sau furnizarea accesului la distanță, numai prin
    aplicații securizate, unor terțe părți, cum ar fi partenerii comerciali ai "Fluid Development", care acționează în
    calitate de procesatori de date pentru și în numele "Fluid Development" (de exemplu, pentru hosting, IT, servicii de
    contabilitate, servicii de procesare a plăților, consilieri juridici și financiari, furnizori sau prestatori de
    servicii care oferă asistență la expediere), cu care "Fluid Development" a încheiat acordurile contractuale necesare,
    cerute de reglementările UE și de reglementările naționale. Vom transfera datele unor terțe părți exclusiv în măsura
    necesară pentru a servi scopurile de procesare aplicabile pentru care datele dvs. sunt colectate și prelucrate.<br>
    – dezvălui datele pentru a ne conforma legii sau ca răspuns la o cerere din partea unei instanțe sau a unei alte
    autorități legale, cum ar fi un mandat sau o citație. "Fluid Development" ar putea, de asemenea, să împărtășească
    informațiile cu bună-credință în cazul în care considerăm că este necesar să prevenim sau să gestionăm fraude sau să
    protejăm "Fluid Development".<br>
    – dacă este necesar, să dezvăluie date cu caracter personal relevante autorităților competente, în contextul
    furnizării serviciilor pe care le-ați solicitat de la noi.
    <br>
    <br>
    <b>D. DURATA PROCESĂRII</b><br>
    Intenționăm să păstrăm datele dvs. cu caracter personal pe durata contractului încheiat cu dvs., precum și după
    aceea, în conformitate cu politicile noastre interne și cu obligațiile legale care ne revin.<br>
    În cazul în care datele nu sunt colectate în contextul unui acord, astfel de date vor fi păstrate atât timp cât este
    necesar pentru atingerea scopului colectării datelor preconizate sau a oricărei alte perioade mai lungi impuse de
    lege, un regulament de păstrare a înregistrărilor sau autoritățile publice. Imediat după încheierea perioadei de
    arhivare aplicabile, datele trebuie să fie:<br>
    - șterse sau distruse în siguranță;<br>
    sau<br>
    - transferate într-o arhivă (cu excepția cazului în care acest lucru este interzis prin lege sau prin regulamentul
    privind păstrarea înregistrărilor).
    <br>
    <br>
    <b>E. DREPTURILE DUMNEAVOASTRĂ</b><br>
    În calitate de persoane vizate, GDPR vă oferă o serie de drepturi, inclusiv:<br>
    – dreptul de accesare – vă permite să obțineți confirmarea că datele dvs. cu caracter personal sunt prelucrate de
    noi și, în cazul unui răspuns afirmativ, detaliile relevante ale acestor activități de prelucrare;<br>
    – dreptul de rectificare – vă permite sa obtineti de la noi, fara intarzieri nejustificate, rectificarea datelor
    dvs. cu caracter personal inexacte care va privesc, avand astfel dreptul sa obtineti completarea datelor care sunt
    incomplete, inclusiv prin furnizarea unei declaratii suplimentare;<br>
    – dreptul de ștergere / „dreptul de a fi uitat” – vă permite să obțineți ștergerea datelor dvs. personale în anumite
    cazuri (de exemplu, dacă datele nu mai sunt necesare în legătură cu scopurile pentru care au fost colectate sau
    v-ati retras consimtamantul atunci cand prelucrarea avea ca temei consimtamantul Dvs. sau datele au fost prelucrate
    ilegal, etc.);·<br>
    – dreptul de restricționare – vă permite să obțineți restricționarea procesării datelor dvs. personale în anumite
    cazuri (de exemplu, atunci când contestați exactitatea datelor dvs. cu caracter personal, pentru o perioadă care ne
    permite să verificăm o astfel de exactitate);<br>
    – dreptul de a vă opune – vă permite să vă opuneți prelucrării în continuare a datelor dvs. personale în condițiile
    și limitele stabilite de lege;· dreptul la portabilitatea datelor – vă permite să primiți datele personale
    referitoare la dvs., pe care ni le-ați furnizat, într-un format structurat, utilizat în mod obișnuit și care poate
    fi citit în mod automat sau să transmiteți aceste date unui alt controlor de date.<br>
    Suntem bucuroși să asigurăm exercitarea acestor drepturi.<br>
    De asemenea, aveți dreptul de a depune o plângere la Autoritatea Nationala de Supraveghere a Prelucrarii Datelor cu
    caracter personal. Vă încurajăm să ne contactați imediat dacă considerați că datele dvs. cu caracter personal au
    fost furnizate fără consimțământ. Ne angajăm să tratăm întotdeauna cererile dvs. cu cea mai mare atenție și să
    adresăm întrebările pe care le aveți în cel mai scurt timp posibil.
    <br>
    <br>
    <b>F. SECURITATE</b><br>
    Ca parte a administrării site-ului nostru, am luat măsuri tehnice și organizatorice pentru a asigura un nivel de
    securitate corespunzător riscurilor prezentate prin prelucrare, în special din cauza utilizării incorecte sau a
    distrugerii, pierderii, alterării, dezvăluirii, achiziționarea sau accesul, manipularea intenționată sau
    accidentală, accesul terților, ștergerea și modificarea.<br>
    Veți fi notificat cu privire la o încălcare a securității datelor, într-un interval rezonabil de timp după
    descoperirea unei astfel de încălcări, cu excepția cazului în care un funcționar competent determină că notificarea
    ar împiedica o investigație penală sau ar aduce prejudicii securității naționale. În acest caz, notificarea va fi
    întârziată conform instrucțiunilor funcționarului competent. Vom răspunde cu promptitudine la solicitările
    dumneavoastră referitoare la o astfel de încălcare a securității datelor.
    <br>
    <br>
    <b>G. MODIFICĂRI</b><br>
    Această politică de confidențialitate intră în vigoare începând cu 25 mai 2018. Această politică de
    confidențialitate poate fi actualizată.<br>
    Dacă, în orice moment, decidem să folosim datele cu caracter personal într-o manieră diferită de cea declarată în
    momentul colectării lor, vă vom notifica prin e-mail. Veți avea posibilitatea de a alege dacă putem sau nu să vă
    folosim datele în acest mod diferit. În caz contrar, dacă este posibil, vom utiliza datele în conformitate cu
    Politica de confidențialitate conform căreia datele au fost colectate.
    <br>
    <br>
    <b>H. ALTE SITE-URI WEB</b><br>
    Site-ul nostru conține linkuri către alte site-uri web. Această politică de confidențialitate se aplică numai în
    cazul acestui Site, astfel încât, atunci când vă conectați la alte site-uri web, trebuie să citiți propriile
    politici de confidențialitate.
    <br>
    <br>
    <b>I. INFORMAȚII DE CONTACT</b><br>
    Ne vom asigura că sunt luate măsurile adecvate pentru a răspunde solicitării dvs. fără întârzieri nejustificate și,
    în orice caz, în termen de 30 (treizeci) de zile de la primirea cererii. Informațiile vor fi furnizate pe cale
    electronică, dacă este posibil, cu excepția cazului în care solicitați în mod expres transmiterea în scris.
  </div>
</section>