<section class="section-pad">

  <div class="page-title">
    <h1>Politica de utilizare Cookie-uri</h1>

  </div>

  <div class="mt-2 text-muted">

    <b>Prezenta politică reprezintă un document de informare a utilizatorilor despre prezența cookie-urilor pe
      site-ul ”Fluid Development”, afiliat FLUID DEVELOPMENT S.R.L., cu sediul in Constanța, Bdul. Tomis, nr. 143A Et.
      P, Cod Unic de Inregistrare: 16310296. Informațiile prezentate în continuare au scopul de a aduce la cunoștință
      persoanei vizate mai multe detalii despre plasarea, utilizarea și administrarea cookie-urilor folosite de site-ul
      ”www.fluiddevelopment”. Prezentul document se completează în mod corespunzător cu Politica privind
      Confidențialitatea
      ce
      poate fi accesată și aici. Protecția datelor cu caracter personal este un obiectiv important pentru ”Fluid
      Development”, motiv pentru care ne dorim să oferim transparență totală prin informațiile furnizate.</b>
    <br><br>
    <b>1. Ce este un cookie?</b><br>
    Un cookie este un fisier text care conține informații descărcate pe dispozitivul dumneavoastră, temporar, atunci
    când vizitați un site web. Acestea stochează anumite informații (de exemplu paginile vizitate) pe care browser-ul
    le-ar putea memora astfel încât să fie intocmite anumite statistici (în funcție de durată pentru care activează
    cookie-urile). Utilizăm cookies strict în scop statistic. Pentru mai multe informații despre cookies, puteți
    consulta ro.wikipedia.org/wiki/Cookie.
    <br><br>
    <b>2. Ce NU este un cookie?</b><br>
    Cookie-urile NU sunt viruși! Ele folosesc formate tip plain text. Nu sunt alcătuite din bucăți de cod, așa că nu pot
    fi executate și nici nu pot auto-rula. În consecință, nu se pot duplica sau replica pe alte rețele pentru a se rula
    sau replica din nou. Altfel spus, modulul cookie poate fi văzut ca un card de identificare a utilizatorului de
    Internet, care anunță website-ul de fiecare dată când utilizatorul se intoarce pe respectivul website.
    <br><br>
    <b>3. De ce folosim cookies?</b><br>
    Cookie-urile ne ajută pentru a înțelege cum interactionează utilizatorii cu website-ul nostru. În cadrul
    website-ului, utilizăm cookie-uri de statistică. Utilizăm informațiile furnizate de cookie-urile de statistică
    pentru a înțelege modul în care interacționati cu pagina web. Rolul categorilor de cookie-uri poate fi consultat la
    secțiunea 5. Cele mai multe browsere sunt setate implicit să accepte cookie-uri, dar aveți posibilitatea să
    modificați setările pentru a bloca unele sau toate cookie-urile.
    <br><br>
    <b>4. Ce tipuri de cookie sunt utilizate?</b> <br>
    ”Fluid Development” folosește atât cookie-uri proprietare cât si cookie-uri terțe. Cookie-urile proprietare sunt
    cookie-uri utilizate de ”Fluid Development” când vizitați site-ul și sunt cookie-uri necesare (ajută exclusiv la
    funcționarea website-ului). Cookie-urile terțe sunt cookie-uri de statistică. Cookie-urie de statistică ne ajuta să
    înțelegem modul în care dumnevoastră interacționati cu website-ul prin colectarea și raportarea informațiilor în mod
    anonim.
    <br><br>
    <b>5. Avem cookies terțe sau plug-ins pe Platforma noastră?</b><br>
    Folosim cookies de la terți, acestea fiind folosite în scopurile detaliate în tabelul de mai sus.
    <br><br>
    <b>6. Cum vă exprimați acordul?</b><br>
    Când vizitați pentru prima dată site-ul nostru, este afișat un banner cu un mesaj despre cookie-uri. Dacă acceptați
    conținutul, atunci vă exprimați acordul implicit pentru utilizarea cookie-urilor conform prezentei politici de
    utilizare a cookie-urilor, cu excepția cazului în care v-ati setat browser-ul astfel încât să respingă cookie-urile.
    <br><br>
    <b>7. Cum respingeți cookie-urile?</b><br>
    Puteti să vă retrageti în orice moment acordul ștergând cookie-urile din browser.<br>
    Aceste setări se găsesc de obicei în meniul „opțiuni” sau „preferințe” din browser. Pentru a înțelege aceste setări,
    ar putea fi utile următoarele linkuri (sau accesați opțiunea „Ajutor” din browser pentru mai multe detalii):
    <br>
    <b>
      Setări cookies în Chrome – <a href="https://support.google.com/chrome/answer/95647?hl=en&hlrm=en">Chrome</a>;<br>
      Setări cookies în Safari – <a href="https://support.apple.com/ro-ro/guide/safari/sfri11471/mac">Safari</a>;<br>
      Setări cookies în Edge – <a
        href="https://support.microsoft.com/en-us/microsoft-edge/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd">Edge</a>;<br>
      Setări cookies în Firefox – <a
        href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US">Firefox</a>.</b>
    <br><br>
    Schimbarea setărilor din browser pentru a respinge cookie-urile poate influența modul în care ne accesati site-ul
    web și este posibil să vă fie respins accesul la anumite secțiuni ale acestuia. Puteți schimba în orice moment
    setările browserului.
  </div>
</section>