<section class="section-pad" style="min-height: 100vh;">

  <div class="page-title">
    <h1>PROIECTE</h1>

  </div>

  <div class="mt-2 text-muted">
    Aici puteți descoperi proiectele încheiate și în desfășurare la care lucrăm.
  </div>

  <div class="mt-2 project-filters">
    <div style="flex-grow: 1;">
      <form (submit)="searchNow()">
        <div class="project-filters-search">
          <input type="text" name="searchString" [(ngModel)]="searchString" class="form-control" style="width: 100%;">
          <span (click)="searchNow()" class="material-symbols">search</span>
        </div>
      </form>
    </div>

    <div class="project-filters-group">

      <div>
        <select class="form-control" [(ngModel)]="selectedStatus" name="selectedStatus" (change)="getAllProjects()">
          <option [ngValue]="undefined">Status
          </option>
          <option>Încheiat</option>
          <option>În derulare</option>
        </select>
      </div>


      <div>
        <select [(ngModel)]="selectedCategory" class="form-control" name="selectedCategory">
          <option [ngValue]="undefined">Categorie</option>
          @for (c of categories; track c) {
          <option [ngValue]="c">{{ c }}</option>
          }
        </select>
      </div>

      <div>
        <select [(ngModel)]="selectedLocation" class="form-control" name="selectedLocation">
          <option [ngValue]="undefined">Locatie</option>
          @for (l of locations; track l) {
          <option [ngValue]="l">{{ l }}</option>
          }
        </select>
      </div>
    </div>


  </div>

  <div class="project-wrap mt-2">
    @for (project of projects; track project.id) {
    <a class="project-box" [routerLink]="[project.slug]">
      <img [src]="project.images" alt="{{project.name}}">
      <div class="project-details">
        <h2>{{project.name}}</h2>
        <br />
        <span>({{project.status}})</span>
      </div>

    </a>
    }
  </div>

</section>