<section class="section-pad">

  <div style="margin-top: 115px; display: flex; align-items: center; justify-content: center;">
    <h1>PROIECTE</h1>

  </div>

  <div class="mt-2 text-muted">
    Aici puteti descoperi proiectele incheiate si in desfasurare la care lucram.
  </div>

  <div class="mt-2"
    style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; gap: 20px; width: 100%;">
    <div style="flex-grow: 1;">
      <form (submit)="searchNow()">
        <div>
          <input type="text" name="searchString" [(ngModel)]="searchString" class="form-control" style="width: 100%;">
          <span (click)="searchNow()" style="margin-left: -30px; color: black; cursor: pointer;"
            class="material-symbols">search</span>

        </div>
      </form>
    </div>

    <div>
      <select [(ngModel)]="selectedCategory" class="form-control" name="selectedCategory">
        <option [ngValue]="undefined">Categorie</option>
        @for(project of projects; track project.id){
        <option [ngValue]="project.category">{{ project.category }}</option>
        }
      </select>
    </div>

    <!-- <div>
      <select [(ngModel)]="selectedStatus" class="form-control" name="selectedStatus">
        <option [ngValue]="undefined">Status</option>
        @for(project of projects; track project.id){
          <option [ngValue]="project.id">{{ project.status }}</option>
        }
      </select>
    </div> -->

    <div>
      <select class="form-control" [(ngModel)]="selectedStatus" name="selectedStatus" (change)="getAllProjects()">
        <option [ngValue]="undefined">Status
        </option>
        <option>published</option>
        <option>In derulare</option>
      </select>
    </div>

    <div>
      <select [(ngModel)]="selectedLocation" class="form-control" name="selectedLocation">
        <option [ngValue]="undefined">Locatie</option>
        @for(project of projects; track project.id){
        <option [ngValue]="project.location">{{ project.location }}</option>
        }
      </select>
    </div>

  </div>

  <div class="mt-2" style="display: flex; align-items: center;">
    @for (project of projects; track project.id) {
    <div class="project-box">
      <img [src]="project.images">
      <h2 class="project-details">{{project.name}}</h2>
    </div>
    }
  </div>

  <!-- filter by:
  word search
  category
  status
  location -->

</section>