<section class="section-pad">

  <div class="page-title">
    <h1>DESPRE NOI</h1>

  </div>

  <div class="mt-2 text-muted">
    Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat
    in
    id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor pulvinar vivamus fringilla
    lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia integer nunc posuere ut hendrerit semper vel
    class aptent taciti sociosqu ad litora torquent per conubia nostra
    <br><br>
    inceptos himenaeos orci varius natoque penatibus et magnis dis parturient montes nascetur ridiculus mus donec
    rhoncus eros lobortis nulla molestie mattis scelerisque maximus eget fermentum odio phasellus non purus est
    efficitur laoreet mauris pharetra vestibulum fusce dictum risus blandit quis suspendisse aliquet nisi sodales
    consequat magna ante condimentum neque at luctus nibh finibus
  </div>


  <div class="info-wrapper">
    <div class="about-layout">
      <img src="assets/img/construction-site-1.jpg">
    </div>
    <div class="info-text mt-2 text-muted">
      Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat
      in
      id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor pulvinar vivamus fringilla
      lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia integer nunc posuere ut hendrerit semper vel
      class aptent taciti sociosqu ad litora torquent per conubia nostra
    </div>
  </div>


  <div class="info-wrapper text-first">
    <div class="about-layout">
      <img src="assets/img/construction-site-1.jpg">
    </div>
    <div class="info-text mt-2 text-muted">
      Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat
      in
      id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor pulvinar vivamus fringilla
      lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia integer nunc posuere ut hendrerit semper vel
      class aptent taciti sociosqu ad litora torquent per conubia nostra
    </div>


  </div>


  <div class="info-wrapper">
    <div class="about-layout">
      <img src="assets/img/construction-site-1.jpg">
    </div>
    <div class="info-text mt-2 text-muted">
      Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat
      in
      id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor pulvinar vivamus fringilla
      lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia integer nunc posuere ut hendrerit semper vel
      class aptent taciti sociosqu ad litora torquent per conubia nostra
    </div>
  </div>

  <div>
    <div>
      <h1>Servicii oferite</h1>
    </div>

    <div class="about-services">
      <div class="about-services-card">
        <div class="about-services-image">
          <img src="assets/img/beyonce.png">
        </div>
        <h3>
          Proiectare și execuție de rețele, branșamente, racorduri de apă & canalizare și instalații termice 
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <img src="assets/img/beyonce.png">
        </div>
        <h3>
          Proiectare și execuție de statii de tratare si de epurare
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <img src="assets/img/beyonce.png">
        </div>
        <h3>
          Proiectare și execuție de construcții hidroedilitaare și instalații pentru construcții
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <img src="assets/img/beyonce.png">
        </div>
        <h3>
          Proiectare și execuție de construcții civile
        </h3>
      </div>
    </div>
  </div>



</section>