
.info-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-block: 16px;
}


@media (max-width: 767px) {
    .info-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .about-layout {
        order: 0;
        width: 100%;
    }

    .info-text {
        order: 1;
        width: 100%;
    }

    .about-services-card{
        width: 100%;
    }
}



@media (min-width: 768px) {
    .info-wrapper.text-first { flex-direction: row-reverse; }

    .about-layout {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .info-text {
        flex: 1 1 60%;
        max-width: 60%;
    }

    .about-services-card{
        width: 40%;
    }
}

.about-layout {
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--box-shadow-1);
}

.about-layout img {
    display: block;
    width: 100%;
    height: auto;


}


.about-services {
    display: flex;
    flex-wrap: wrap;
}

.about-services-card {
    margin: 20px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-sm);
}

.about-services-card img {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}