<section class="section-pad">

  <div class="page-title">
    <h1>DESPRE NOI</h1>

  </div>

  <div class="mt-2 text-muted">
    FLUID DEVELOPMENT SRL este o societate înființată în anul 2004 specializată în lucrări de proiectare și execuție
    rețele alimentare cu apă și canalizare pentru instalații industriale, construcții montaj. Este un distribuitor
    autorizat al echipamentelor de măsurare a apei și a energiei termice.
    <br><br>
    Societatea noastră are implementat și menține un sistem de management al calității conform cerințelor standardelor
    ISO 9001 :2000, ISO 14001 :2004, fiind certificată pentru următoarele activități: Proiectare și execuție lucrări de
    construcții a proiectelor utilitare pentru fluide, de construcții hidroedilitare, hidrotehnice, civile, industriale,
    drumuri, lucrări de geniu și instalații aferente, foraje, îmbunătățiri funciare și instalații sanitare, de încălzire
    și de aer condiționat, servicii de montaj contoare de apă rece, caldă și energie termică.
  </div>


  <div class="info-wrapper">
    <div class="about-layout">
      <img src="assets/img-optimized/construction-site-1.webp" alt="Construction Site 1">
    </div>
    <div class="info-text mt-2 text-muted">
      Avem ca obiect de activitate:
      <br>
      ✓ Proiectare și execuție de rețele apă canalizare, branșamente și racorduri apă, canalizare, instalații termice,
      stații de epurare;
      <br>
      ✓ Execuție rețele electrice, posturi de transformare în cadrul lucrărilor de Antreprenoriat;
      <br>
      ✓ Execuție rețele metropolitane de canalizatie pentru pozarea cablurilor de telecomunicații;
      <br>
      ✓ Proiectare și execuție construcții hidroedilitare, civile și instalații pentru construcții;
      <br>
      ✓ Execuția forajelor de medie și mare adâncime, pentru apă, irigații;
      <br>
      ✓ Întocmire studii hidrogeologice, studii de gospodărire a apelor; Elaborarea documentațiilor pentru
      obținerea avizului/autorizației de gospodărire a apelor
    </div>
  </div>


  <div class="info-wrapper text-first">
    <div class="about-layout">
      <img src="assets/img-optimized/construction-site-2.webp" alt="Construction Site 2">
    </div>
    <div class="info-text mt-2 text-muted">
      Societatea are un număr total de 96 angajați permanenți dintre care 20 au studii superioare, totodată beneficiind de o dotare tehnică corespunzătoare.
      <br>
      <br>
      Pentru desfășurarea lucrărilor, dispunem de următoarele utilaje: Instalații de foraj 3 buc, Buldoexcavatoare medii 5 buc, Excavator 27to, Basculante 24to, 12to,16to- 3buc, mini-compactoare pământ 4 buc, cilindru compactor asfalt - 2buc, macara 12to-1 buc.

    </div>


  </div>


  <div class="info-wrapper">
    <div class="about-layout">
      <img src="assets/img-optimized/construction-site-3.webp" alt="Construction Site 3">
    </div>
    <div class="info-text mt-2 text-muted">
      Pentru desfășurarea activităților, societatea dispune de sedii și depozite în
      <br>
      ✓ Constanța (Bdul Tomis 143A, sediul central)
      <br>
      ✓ Constanța (Str. Interioară nr.2 - depozit, platforma 5000mp depozitare agregate piatră, nisip, depozit temporar
      moloz, parcare și reparații utilaje)
    </div>
  </div>

  <div>
    <div>
      <h1>Servicii oferite</h1>
    </div>

    <div class="about-services">
      <div class="about-services-card">
        <div class="about-services-image">
          <span class="material-symbols">arrow_split</span>
        </div>
        <h3>
          Proiectare și execuție de rețele, branșamente, racorduri de apă & canalizare și instalații termice
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <span class="material-symbols">factory</span>
        </div>
        <h3>
          Proiectare și execuție de statii de tratare si de epurare
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <span class="material-symbols">valve</span>
        </div>
        <h3>
          Proiectare și execuție de construcții hidroedilitaare și instalații pentru construcții
        </h3>
      </div>

      <div class="about-services-card">
        <div class="about-services-image">
          <span class="material-symbols">home_work</span>
        </div>
        <h3>
          Proiectare și execuție de construcții civile
        </h3>
      </div>
    </div>
  </div>



</section>