.info-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-6);
    margin-block: var(--space-4);
}


@media (max-width: 767px) {
    .info-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .about-layout {
        order: 0;
        width: 100%;
    }

    .info-text {
        order: 1;
        width: 100%;
    }

    .about-services-card {
        width: 100%;
    }
}



@media (min-width: 768px) {
    .info-wrapper.text-first {
        flex-direction: row-reverse;
    }

    .about-layout {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .info-text {
        flex: 1 1 60%;
        max-width: 60%;
    }

    .about-services-card {
        width: 45%;
    }
}

.about-layout {
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--box-shadow-1);
}

.about-layout img {
    display: block;
    width: 100%;
    height: auto;


}


.about-services {
    display: flex;
    flex-wrap: wrap;
}

.about-services-card {
    margin: var(--space-4);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-sm);
}

.about-services-card h3 {
    width: 80%;
    text-align: center;
}


.about-services-image {
    width: 20%;
    height: 100%;
}

.about-services-image img {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    width: 100%;
    height: 100%;

}