@layer app {
    :root {
        /* --color-text: #1F2937;
        --color-text-muted: #6b7280;
        --color-heading: #111827;
        --color-accent: #e8f4f6; */

        --color-text: #146E7D;
        --color-text-muted: #2694A6;
        --color-accent: #CCE6EA;
        --color-white: #FFFFFF;

        /* --color-dark-turquoise: #146E7D;
        --color-mid-turquoise: #2694A6;
        --color-light-turquoise: #CCE6EA; */



        --fs-base: 18px;
        --fs-small: 14px;
        --fs-h1: 36px;
        --fs-h2: 28px;
        --fs-h3: 22px;

        --font-sans: "Gilroy", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;


        --space-1: 4px;
        --space-2: 8px;
        --space-3: 12px;
        --space-4: 16px;
        --space-6: 24px;

        --radius-sm: 4px;
        --radius-md: 8px;

        --box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;


    }

    .text-muted {
        color: var(--color-text-muted);
    }

    .small-faded {
        color: var(--color-text-muted);
        font-size: var(--fs-small);
    }

    .link-muted {
        color: var(--color-text-muted);
        text-decoration: none;
    }

    .link-muted:hover {
        color: var(--color-primary);
    }

    .section-pad {
        padding: var(--space-6);
    }

    .mt-2 {
        margin-top: 16px;
    }


}