<section class="section-pad">

  <div class="page-title">
    <h1>CONTACTEAZA-NE</h1>

  </div>

  <div class="mt-2 text-muted">
    Pentru a ne trimite un mesaj te rugam sa completezi formularul online si vom raspunde in cel mai scurt timp.
    Alternativ, poti contacta sa ne scrii un email la
    <a class="text-links" [href]="'mailto:' + email">{{ email }}</a>
  </div>

  <div class="contact-form-parent">
    <div class="text-muted" style="display: flex; flex-direction: column;">
      <div class="mt-2" style="text-align: center;">
        <span class="material-symbols">flag</span>
        <h2>SEDIU CENTRAL</h2>
        <div>
          Bdul. Tomis 143A Et. 5, Constanta
        </div>
        <div>
          Telefon: <a class="text-links" href="tel:0241520110">0241.520.110</a>, Fax: 0241693063
        </div>

      </div>

      <div class="mt-2" style="text-align: center;">
        <span class="material-symbols">flag</span>
        <h2>SPATIU PRODUCTIE / DEPOZIT</h2>
        <div>
          Str. Interioara 2
        </div>
        <div>
          Telefon: <a class="text-links" href="tel:0241691696">0241.691.696</a> 
        </div>
      </div>

    </div>

    <div class="contact-form">
      <h2 style="text-align: center;">Formular contact</h2>
      <div>Iti stam la dispozitie si iti vom raspunde in cel mai scurt timp. Trimite-ne o solicitare, spune-ne daca ai
        nevoie de ajutor sau vrei sa faci o comanda.</div>

      <form #f="ngForm" (ngSubmit)="submit()" style="margin-top: 24px;">
        <div style="margin-top: 24px;">
          <div>
            <label>Email</label>
            <br>
            <input type="email" id="email" name="email" required minlength="4" [(ngModel)]="form.email" />
          </div>
          <div>
            <label>Nume</label><br>
            <input type="text" id="name" name="name" required minlength="4" maxlength="80" [(ngModel)]="form.name" />
          </div>
          <div style="margin: 12px 0;">
            <label>Mesaj</label><br>
            <textarea id="message" name="message" required minlength="1" maxlength="5000" [(ngModel)]="form.message"
              style="height: 200px;"></textarea>
          </div>
        </div>


        <div style="margin: 12px 0">
          <button [disabled]="f.invalid || loading" style="font-weight:bold;">
            {{ loading ? 'Trimit...' : 'Trimite' }}
          </button>
        </div>

        @if(success){
        <p style="color:green;margin-top:8px">Mulțumim! Mesajul a fost trimis.</p>
        }

        @if(error){
        <p style="color:#b00020;margin-top:8px">Ne pare rău, a apărut o eroare. Încearcă din nou.</p>

        }

      </form>
    </div>

  </div>
</section>