input,
button,
textarea {
    width: 100%;
}

button:hover {
    background-color: var(--color-accent);
}

button {
    background-color: var(--color-text)
}

.contact-form-parent {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .contact-form-parent {
        flex-direction: column;
    }

    .contact-form-parent .text-muted {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contact-form-parent .text-muted {
        width: 50%;
    }
}


.material-symbols {
    font-size: 100px;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}