<section class="section-pad footer-full">
  <div class="mt-2" style="display: flex;">
    <div style="display: flex; flex-direction: column;">
      <div>
        <img src="assets/img/beyonce.png" style="width: 100px; height: 50px;">
      </div>
      <!-- <div>Fluid Development S.R.L.</div>
      <div>Nr. Reg. Comert: J13/1813/2011</div>
      <div>CUI: 16310296</div>
      <br>
      <br> -->
      <div style="text-wrap: wrap;">
        <span class="material-symbols">location_on</span>
        Bdul. Tomis 143A Et. P (INCINTA PROIECT SA), Constanta
      </div>
      <!-- Bdul. Tomis 143A Et. P Ap. BIR. 1 Cod 900591 (INCINTA PROIECT SA), Constanta, Romania -->
      <!-- <div>
        <a>
          <span class="material-symbols">mail</span>
          officefluiddevelopment.ro</a>
      </div> -->
      <div>
        <span class="material-symbols">call</span>
        +40729994764
      </div>
    </div>
    <div style="margin-left: auto; display: flex; flex-direction: column; margin-top: 50px;">
      <div style="">GDPR</div>
      <div>Cookie Policy</div>
      <div>Termeni si Conditii</div>
      <div style="margin-top: auto;">© 2025 Toate drepturile rezervate</div>
    </div>
  </div>
</section>
