<section class="footer-full">
  <div>
    <img src="assets/img-optimized/fluid-development-title-logo.webp" style="width: 200px; height: 30px;"
      alt="FD Title Logo">
  </div>

  <div class="footer-text mt-2">
    <div class="footer-columns">

      <div>
        <span class="material-symbols">location_on</span>
        Bdul. Tomis 143A Et. P, Constanța
      </div>
      <div>
        <span class="material-symbols">call</span>
        <a class="footer-text-links" href="tel:0241520110">0241.520.110</a>
      </div>
      <div>
        <a class="footer-text-links" href="https://www.linkedin.com/company/fluid-development-srl/" target="_blank" style="margin-right: 12px;">
          <img alt="Follow us on LinkedIn" src="assets/svg/linkedin-logo.svg"
            style="width: 18px;" />
        </a>

        <a class="footer-text-links" href="https://www.facebook.com/fluiddevelopmentsrl" target="_blank">
          <img alt="Follow us on Facebook" src="assets/svg/facebook-logo.svg"
            style="width: 18px;" />
        </a>
      </div>
    </div>


    <div class="footer-links footer-columns">
      <div routerLink="/gdpr">Politica de Confidențialitate</div>
      <div routerLink="/terms">Termeni și Condiții</div>
      <div class="mt-2">© 2025 Toate drepturile rezervate</div>
    </div>
  </div>
</section>