<section class="footer-full">
  <div>
    <img src="assets/img/fluid-development-title-logo.png" style="width: 200px; height: 30px;">
  </div>

  <div class="footer-text mt-2">
    <div class="footer-columns">

      <div>
        <span class="material-symbols">location_on</span>
        Bdul. Tomis 143A Et. P, Constanta
      </div>
      <div>
        <span class="material-symbols">call</span>
        0241520110
      </div>
    </div>


    <div class="footer-links footer-columns">
      <div routerLink="/gdpr">Politica de Confidențialitate</div>
      <div routerLink="/terms">Termeni si Conditii</div>
      <div class="mt-2">© 2025 Toate drepturile rezervate</div>
    </div>
  </div>
</section>