.footer-full {
    min-height: auto;
    height: auto;
}

.footer-text {
    display: flex;
}

.footer-columns {
    display: flex;
    flex-direction: column;
}

.footer-links {
    margin-left: auto;
    cursor: pointer;
}

@media (max-width:576px) {
    .footer-text {
        flex-direction: column;
    }

    .footer-links {
        margin-left: 0;
    }

}


.text-links{
    color: var(--color-text) !important;
    text-decoration: none;
}