:host {
    position: sticky;
    top: 0;
    z-index: 3000;
    display: block;
    background: #fff;
}
:host { outline: 2px solid hotpink; }

.box {
    height: var(--nav-h);
    box-sizing: border-box;
    padding: 0 var(--space-6);
    display: flex;
    align-items: center;
}

.header-wrapper {
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-image {
    width: 75px;
    height: 35px;
}

.header-wrapper img {
    width: 100%;
    height: 100%;
}

.nav-toggle {
    display: none;
}


.hamburger {
    display: none;
    margin-left: auto;
    cursor: pointer;
    padding: var(--space-2);
}

.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--color-text);
    margin: var(--space-1) 0;
}

.menu-item {
    font-size: var(--fs-h3);
    font-weight: 700;
    color: var(--color-text);
    text-decoration: none;
}

.menu-item:hover {
    color: var(--color-text-muted);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-trigger:hover {
    color: var(--color-text-muted);

}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    padding: var(--space-2);
    margin-top: var(--space-1);
    list-style: none;
    background: #fff;
    border-radius: var(--radius-sm);
    line-height: 1.75;
    font-weight: 700;
    display: none;
    z-index: 1001;
    box-shadow: var(--box-shadow-1);
}

.dropdown:hover .dropdown-menu,
.dropdown-trigger:hover+.dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu li {
    cursor: pointer;
    padding: var(--space-4);
    color: var(--color-text);
}

.dropdown-menu li:hover {
    background: var(--color-accent);
    color: var(--color-text-muted);
    border-radius: var(--radius-sm);
}


.dropdown-trigger {
    cursor: pointer;
    padding: 0 0 0 var(--space-1);
    vertical-align: middle;
    color: var(--color-text);

}

.project-link {
    cursor: pointer;
}

@media (max-width: 991px) {

    .hamburger {
        display: inline-block;
    }

    .nav-toggle:checked~.menu-parent {
        display: flex;
    }

    .menu-parent {
        display: none;
        position: absolute;
        top: 100%;
        right: var(--space-6);
        background: #fff;
        border-radius: var(--radius-sm);
        padding: var(--space-2);
        box-shadow: var(--box-shadow-1);
        flex-direction: column;
        gap: var(--space-2);
    }
}

@media (min-width: 992px) {

    .menu-parent {
        display: flex;
        align-items: center;
        gap: var(--space-6);
        margin-left: auto;
        margin-right: var(--space-6);
        white-space: nowrap;
    }

    .menu-parent {
        margin-left: auto;

    }

    .hamburger {
        display: none;
    }
}